.main_navbar {
  width: 100%;
  padding: 0rem;
  background-color: transparent;
}

.main_navbar-container {
  width: 100%;
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 100px 1fr auto;
  align-items: center;
  gap: 1.5rem;
}

.main_navbar-logo {
  height: 100px;
  width: 100px;
}

.main_navbar-logo img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main_navbar-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.main_navbar-nav-link {
  color: var(--text-color);
  text-transform: capitalize;
  transition: var(--transition);
}

.main_navbar-nav-link.active {
  color: var(--primary-color);
  padding: 0.6rem 1rem;
  border: 1px solid var(--maroon);
  background-color: var(--maroon);
  border-top-right-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

.main_navbar-nav-link:hover {
  opacity: 0.7;
}

.main_navbar-right-section {
  display: flex;
  justify-content: flex-end;
}

.main_navbar-right-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.main_navbar-icon {
  color: var(--text-color);
  cursor: pointer;
}

.main_navbar-menu-icon {
  display: none;
}

.hide-on-large {
  display: none;
}

/* Mobile Styles */
@media screen and (max-width: 900px) {
  .main_navbar-container {
    grid-template-columns: auto 1fr auto;
    padding: 0.8rem 0;
  }

  .main_navbar-logo {
    height: 70px;
    width: 70px;
  }

  .main_navbar-menu-icon {
    display: inline-block;
    z-index: 100;
  }

  .close_menu {
    color: var(--primary-color);
  }

  .main_navbar-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 50%;
    background-color: var(--maroon);
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 5rem 2rem;
    transition: right 0.7s ease;
    gap: 1.25rem;
  }

  .main_navbar-links.active_menu {
    right: 0;
  }

  .main_navbar-nav-link {
    color: var(--primary-color);
  }

  .main_navbar-nav-link.active {
    background-color: var(--primary-color);
    color: var(--maroon);
  }

  .main_navbar-small-screen-right-icons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  .hide-on-small {
    display: none;
  }

  .hide-on-large {
    display: flex;
  }
}
